<header>
    <nav style="background-color: #364F70" class= 'navbar'>
        <div class = "container-fluid d-flex justify-content-between"  >
            <a class = 'navbar-brand' href = "/">
                <div class="row">
                    <div class="col">
                        <img src = "/images/logo.png" alt = "Logo aplicación" class = 'rounded-circle'>
                    </div>    
                    <div class="col">    
                        <h1 class =" text-white" > SummerPet</h1>
                    </div>
                </div>
            </a>
            <form method = 'GET' action = 'searchKeyWord' class = 'd-flex'>
                <label for = "keyword"></label>
                <input class="form-control me-2" type="text" placeholder = "Palabra Clave" name = 'keyword' maxlength="150">
                <button class="btn btn-primary" type = "submit">Search</button>
            </form>
        </div>
    </nav>
</header>