<div class="modal fade" id = "modalRequest" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
    
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Solicitar Servicios </h4>
          <button type = "button" class = "btn btn-close" data-bs-dismiss = "modal"></button>
        </div>

        <form action = "sendApplication" method = 'post'>
            <div class="modal-body">
                <div class = "row align-items-center">
                    <label for = "startDate" class = 'col col-sm-4 col-md-4 col-xl-4 text-center'> Fecha de inicio: </label>
                    <input type = 'text' class = "form-control w-50" id = 'startDate'>
                </div>
                <br>
                <div class = "row align-items-center">
                    <label for = "endDate" class = 'col col-sm-4 col-md-4 col-xl-4 text-center'> Fecha de fin: </label>
                    <input type = "text" class = 'form-control w-50' id = 'endDate'>
                </div>
            </div>
            <div class="modal-footer">
                <button type = 'submit' class = 'btn btn-primary'> Enviar solicitud </button>
                <button type = "button" class = "btn btn-danger" data-bs-dismiss="modal"> Cancelar </button>
            </div>
        </form>
      </div>
      
    </div>
  </div>