<div class="modal fade" id = "modalRequest" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
    
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Solicitar Servicios </h4>
          <button type = "button" class = "btn btn-close" data-bs-dismiss = "modal"></button>
        </div>

        <form action = "/application/sendApplication" method = 'post'>
            <div class="modal-body">

              <div class = "row d-none">
                <label for = "idDogWatcher"></label>
                <input type = "text" name = 'idDogWatcher' id = 'idDogWatcher' value = '<%= usuario.Id %>'>
              </div>

              <div class = "row align-items-center">
                <label for = "startDate" class = 'col col-sm-4 col-md-4 col-xl-4 text-center'> Fecha de inicio: </label>
                <input type = 'text' class = "form-control w-50" id = 'startDate' name = 'startDate' placeholder = "Fecha de hoy o posterior">
              </div>
              <br>
              <div class = "row align-items-center">
                <label for = "endDate" class = 'col col-sm-4 col-md-4 col-xl-4 text-center'> Fecha de fin: </label>
                <input type = "text" class = 'form-control w-50' id = 'endDate' name = 'endDate' placeholder = "Fecha posterior a la de inicio">
              </div>

              <div class = "row d-none align-items-center justify-content-center" id = 'errorApplication'>
                <span class = 'text-danger text-center'> Fechas introducidas incorrectas </span>
              </div>
            </div>

            <div class="modal-footer">  
              <button type = 'submit' class = 'btn btn-primary' id = 'applicationButton' disabled> Enviar solicitud </button>
              <button type = "button" class = "btn btn-danger" data-bs-dismiss="modal"> Cancelar </button>
            </div>
        </form>
      </div>
      
  </div>
</div>