.navButton{
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
}
  
.navButton:active {
    color: #666;
    /* box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; */
}
  
.navButton:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
  
.navButton:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #73A9F0;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
  
.navButton:hover {
    color: #ffffff;
    border: 1px solid #73A9F0;
}
  
.navButton:hover:before {
    top: -35%;
    background-color: #73A9F0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
  
.navButton:hover:after {
    top: -45%;
    background-color: #73A9F0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#navLi{
    background-color: #73A9F0;
    text-decoration: none;
}

.navLinks{
    text-decoration: none;
    color: #1f1f1f;
    font-size :18px;
    font-weight: bold;
}

#navUser {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #586270;
}