#profileUser {
    margin-left: 15%;
    margin-right: 15%;
}

#profileName {
    border-style: solid;
    border-color: white white darkgray white;
    color: black;
    font-style: italic;
    font-size: 30px;
    height: 20%;
    margin-top: 25%;
    margin-bottom: 15%;
}



