body {
    background-color: #BDD4F2;
}

#profileUser {
    margin-left: 10%;
    margin-right: 10%;
}

#navUser {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #586270;
}

#description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#labelDescription {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 5px;
    background-color: #586270;
}