ul {
    list-style-type: none;
}

li {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
 
#searchbardiv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;  
} 


#input{
    width: 600px;
    height: 80px;
    font-size: 22px;
}

#search{
    width: 100px;
    height: 80px;
    font-size: 22px;
}