.bgLightBlue {
    background-color: #BDD4F2;
}

#bgBlue {
    background-color: #364F70;
}

#signUpForm {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #364F70;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
}