<form action = "enviarImagen" method = 'post' enctype = "multipart/form-data">
    <label for = "foto"></label>
    <input type = "file" name = 'foto'>
    <button type = "submit"> Enviar</button>
</form>
<form action = "enviarImagen" method = 'post' enctype = "multipart/form-data">
    <label for = "foto"></label>
    <input type = "file" name = 'foto'>
    <button type = "submit"> Enviar</button>
</form>

<form action = "enviarImagen" method = 'post' enctype = "multipart/form-data">
    <label for = "foto"></label>
    <input type = "file" name = 'foto'>
    <button type = "submit"> Enviar</button>
</form>