<nav class = 'rounded-2 bg-light p-3' id = 'navUser'>
    <ul class = 'nav'>
        <li class = 'nav-item'>
            <a href = "/specialty?id=<%=usuario.Id%>" class = 'ms-1 nav-link' id = 'specialtiesButton'> 
                Especialidades 
            </a>
        </li>
        <li class = 'nav-item'>
            <a href = "/picturesLocation?id=<%=usuario.Id%>" class = 'ms-1 nav-link'> 
                Lugar
            </a>
        </li>
    </ul>
</nav>