<nav class = 'rounded-2  p-3' id = 'navUser'>
    <ul class = 'nav' >
        <li class = 'nav-item me-2' id="">
            <a href = "/profile?id=<%=usuario.Id%>" class = 'ms-1 button2' id = 'navLinks'> 
                Descripción 
            </a>
        </li>
        <li class = 'nav-item me-2' id="">
            <a href = "/specialty?id=<%=usuario.Id%>" class = 'ms-1 nav-link button2' id = 'navLinks'> 
                Especialidades
            </a>
        </li>
        <li class = 'nav-item me-2' id=""> 
            <a href = "/picturesLocation?id=<%=usuario.Id%>" class = 'ms-1 nav-link button2' id = 'navLinks'> 
                Lugar
            </a>
        </li>
    </ul>
    
    <button type="button" class="btn btn-primary" data-bs-toggle = "modal" data-bs-target = "#modalRequest" id = 'sendApplicationBtn'> Solicitar servicios </button>

</nav>