<nav class = 'rounded-2 bg-light p-3 d-flex' id = 'navUser'>
    <ul class = 'nav me-auto'>
        <li class = 'nav-item'>
            <a href = "/profile?id=<%=usuario.Id%>" class = 'ms-1 nav-link' id = 'specialtiesButton'> 
                Descripción 
            </a>
        </li>
        <li class = 'nav-item'>
            <a href = "/specialty?id=<%=usuario.Id%>" class = 'ms-1 nav-link' id = 'specialtiesButton'> 
                Especialidades 
            </a>
        </li>
        <li class = 'nav-item'>
            <a href = "/picturesLocation?id=<%=usuario.Id%>" class = 'ms-1 nav-link'> 
                Lugar
            </a>
        </li>
    </ul>
    <button type = 'button' class = 'btn btn-primary'> Solicitar servicios </button>
</nav>