<div class="modal fade" id = "modalEstablish" role="dialog">
    <div class = "modal-dialog modal-dialog-centered modal-lg">
    
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> Establecer Disponibilidad </h4>
          <button type = "button" class = "btn btn-close" data-bs-dismiss = "modal"></button>
        </div>

            <div class="modal-body">

              <div class = "row d-none">
                <label for = "idDogWatcher"></label>
                <input type = "text" name = 'idDogWatcher' id = 'idDogWatcher' value = '<%= user.Id %>'>
              </div>
              
              <div class = "row align-items-center d-flex justify-content-center">
                <label for = "rangeDates" class = 'col col-sm-4 col-md-4 col-xl-4 text-center'> Periodo de disponibilidad: </label>
                <input type = "text" id = 'datefilter' class = 'form-control' style = 'width:27%' name = "datefilter" value="" />
              </div>
             
              <div class = "row d-none align-items-center justify-content-center" id = 'errorApplication'>
                <span class = 'text-success text-center' id = 'acceptDates'></span>
              </div>
            </div>

            <div class="modal-footer">  
              <button type = 'button' class = 'btn btn-primary' id = 'establishButton' disabled> Aceptar </button>
              <button type = "button" class = "btn btn-danger"  id = 'cancelButton' data-bs-dismiss = "modal"> Cancelar </button>
            </div>
      </div>
      
  </div>
</div>